<%- provide(:title, "About") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">About</li>
</ol>
<div class="page-header">
  <h1>@mlborder <small>the event border bot of Million Live!</small></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6">
      <h3>このサイトについて</h3>
      <p>ミリオンボーダーbot(<%= link_to '@mlborder', 'https://twitter.com/mlborder', target: '_blank' %>)で発信しているイベントボーダーを蓄積しているサイトです。ボーダーの推移をグラフでみることができます。</p>
      <h3>ソースコード</h3>
      <p>グラフの元となる<%= link_to 'ボーダー情報を公開', 'https://github.com/mlborder/borderbot-dataset/tree/master/raw', target: '_blank' %>しています。また、このサイトのソースコードも<%= link_to 'GitHub', 'https://github.com/mlborder/borderbot-rails', target: '_blank' %>で公開しています。</p>
      <h3>オンラインショップ</h3>
      <p>ミリオンボーダーbot関連の個人誌を<%= link_to 'オンラインで頒布', 'http://mlborder.thebase.in/', target: '_blank' %>しています。ご興味のある方はどうぞ。</p>
      <h3>要望・質問等</h3>
      <p><%= link_to '@mlborder', 'https://twitter.com/mlborder', target: '_blank' %>までメンションもしくはDMいただければ、対応するかもしれません。</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div style='max-width: 320px;'>
        <blockquote class="twitter-tweet" lang="ja"><p lang="und" dir="ltr"><a href="http://t.co/r7FuqMlVrF">pic.twitter.com/r7FuqMlVrF</a></p>&mdash; ミリオンボーダーbot (@mlborder) <a href="https://twitter.com/mlborder/status/632768505402626048">2015, 8月 16</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
