<div class='jumbotron'>
  <h1>Welcome</h1>
  <p>mlborder.comへようこそ</p>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class='panel-title'>提供中のサービス</h3>
      </div>
      <div class="list-group">
        <%= link_to 'https://twitter.com/mlborder', target: '_blank', class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <span class="fa fa-twitter"></span>
            ミリオンボーダーbot
            <small><span class='glyphicon glyphicon-new-window'></span></small>
          </h4>
          <p class="list-group-item-text">元祖ミリオンボーダーbotちゃん。イベントお役立ち情報を発信してくれています。</p>
        <%- end %>
        <%= link_to events_path, class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-stats"></span>
            イベントアーカイブ
          </h4>
          <p class="list-group-item-text">ミリオンで行われたイベントをまとめています。ボーダーの変遷を過去分含めてグラフで確認することもできます。</p>
        <%- end %>
        <%= link_to alarm_path, class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <span class='glyphicon glyphicon-bell'></span>
            ボーダーお知らせ機能（β）
          </h4>
          <p class="list-group-item-text">ボーダーが指定したポイントに達したら、ミリオンボーダーbotからメンションが飛んでくる機能です。現状、雑な作りなのであまり期待はしないでください。</p>
        <%- end %>
        <%= link_to records_path, class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-search"></span>
            イベント最終ランキング検索
          </h4>
          <p class="list-group-item-text">『特番！生っすか！？サンデー×50』(2015年5月)からのイベント最終ランキングについて、イベント・プロデューサーの双方から検索できる機能です。</p>
        <%- end %>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class='panel-title'>About mlborder.com</h3>
          </div>
          <div class="panel-body">
            <p>
              <%= link_to 'アイドルマスターミリオンライブ！', 'http://jp.apps.gree.net/ja/58737', target: '_blank' %>内のイベント情報（ボーダー、ランキング）を集めています。
              <%= link_to 'アイドルマスターシンデレラガールズ', 'http://sp.pf.mbga.jp/12008305/', target: '_blank' %>における<%= link_to 'PPDB', 'http://ppdb.sekai.in/', target: '_blank' %>と似たようなことができることを目指しています。
            </p>
            <p>このみPがゆるーくやっているので、日本酒でも楽しみながらゆるーく見守っていただけますと幸いです。</p>
          </div>
          <div class='list-group'>
            <%= link_to 'もっと詳しく', about_path, class: 'list-group-item text-right' %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class='panel-title'>データ更新頻度について</h3>
          </div>

          <div class="panel-body">
            おそらく週一くらいでやっています。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
