<%- provide(:title, "週間アイドルランキング(#{@week.format_term})") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li>Weeks</li>
  <li><%= @week.to_ymd %></li>
  <li>Idol rankings</li>
</ol>

<div class="well well-sm">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <%= form_tag week_idol_records_path(week_id: 'search'), method: 'GET', enforce_utf8: false do %>
        <div class="input-group">
          <%= select_tag :search_week_id, options_from_collection_for_select(@weeks, :id, :format_term, selected: @week.id), include_blank: true, class: 'text-right form-control' %>
          <span class="input-group-btn">
            <%= submit_tag '確認する', class: 'btn btn-primary', name: nil %>
          </span>
        </div>
      <%- end %>
    </div>
  </div>
</div>

<div class="page-header">
  <h1>
    週間アイドルランキング(<%= @week.format_term %>)
    <%= render partial: 'layouts/shared/twitter_button' %>
  </h1>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>順位</th>
      <th>アイドル名</th>
      <th>ファン人数/週</th>
      <th>プロデューサー数</th>
      <th>P一人あたりの平均獲得ファン人数/週</th>
    </tr>
  </thead>
  <tbody>
    <%- @idol_records.each do |record| %>
      <tr>
        <td><%= record.rank %></td>
        <td><span style="color: <%= record.idol.color %>">■</span><%= link_to record.idol.name, idol_path(record.idol) %></td>
        <td><%= number_with_delimiter record.fan_count %></td>
        <td><%= number_with_delimiter record.player_count %></td>
        <td><%= number_with_delimiter (record.fan_count.to_f / record.player_count.to_f).round %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
