<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>#</th>
      <th>属性</th>
      <th>アイドル名</th>
      <th>誕生日</th>
      <th>年齢</th>
      <th>血液型</th>
    </tr>
  </thead>
  <tbody>
    <%- idols.each do |idol| %>
      <tr>
        <td><%= idol.id %></td>
        <td><%= idol.idol_type %></td>
        <td><span style="color: <%= idol.color %>">■</span><%= link_to idol.name, idol_path(idol) %></td>
        <td><%= idol.birthday %></td>
        <td><%= idol.age %></td>
        <td><%= idol.blood_type %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
