<div class="page-header">
  <h1>
    <%= player.name %>さん
    <small>
      <%= link_to "http://imas.gree-apps.net/app/index.php/mypage/user_profile/id/#{player.id}", target: '_blank' do %><span class='glyphicon glyphicon-new-window'></span><%- end %>
    </small>
    のイベント最終ランキング履歴
    <%= render partial: 'layouts/shared/twitter_button' %>
  </h1>
</div>
<div class="row" style='white-space: nowrap;'>
  <%- records.each do |record| %>
    <%- event = events.select { |ev| ev.id == record.event_id.to_i }.first %>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class='panel-title' style='font-size: .9em;'>
            <%- if event %>
              <%= event_type_badge(event) %>
              <%= link_to event_path(event) do %>
                <%= event.try(:name) %>
                <%- if event.hhp_event? %>
                  &nbsp;(<%= Idol.find(record.idol_id).name %>)
                <%- end %>
                <small><span class='glyphicon glyphicon-link'></span></small>
              <%- end %>
            <%- end %>
          </h3>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;<%= event.format_period %>
          </div>
          <div class="list-group-item">
            <span class="fa fa-star" aria-hidden="true"></span>
            <%- if record.idol_id %>
              <%- idol = Idol.find(record.idol_id) %>
              <span style="border-bottom: 1px ridge <%= idol.color %>"><%= idol.name %></span>
            <%- else %>
              <%= prizes_text_for(event.prizes.to_a) %>
            <%- end %>
          </div>
          <div class="list-group-item">
            <span class="fa fa-trophy" aria-hidden="true"></span>
            個人&nbsp;<%= record.rank %>&nbsp;位&nbsp;
            <%= link_to event_records_path(event, idol_id: record.idol_id) do %>
              <small><span class='glyphicon glyphicon-link'></span></small>
            <%- end %>
          </div>
          <div class="list-group-item">
            <span class="fa fa-diamond" aria-hidden="true"></span>
            <%= number_with_delimiter record.point %>&nbsp;pt
          </div>
        </div>
      </div>
    </div>
  <%- end %>
</div>
