<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Events</li>
</ol>

<table class='table'>
  <thead>
    <tr>
      <th>name</th>
      <th>border_1200</th>
      <th>start_time</th>
      <th>end_time</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.reverse.each do |event| %>
      <tr>
        <td><%= event_type_badge(event) %>&nbsp;<%= link_to_if event.has_border?, event.name, event_path(event) %></td>
        <td>
          <%- border_1200 = event.final_borders.select{|b| b.rank == 1200}.first.try(:point) %>
          <%= border_1200 ? "#{number_to_currency(border_1200, unit: '', precision: 0)}pt" : '-' %>
        </td>
        <td><%= event.started_at.strf_mlevent %></td>
        <td><%= event.ended_at.strf_mlevent %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
