<h1>イベント一覧</h1>

<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>type</th>
      <th>start_time</th>
      <th>end_time</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.reverse.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to_if event.has_border?, event.name, event_path(event) %></td>
        <td><%= event.event_type %></td>
        <td><%= event.started_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= event.ended_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
