<%- provide(:title, "『#{@event.name}』の詳細") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active"><%= @event.name %></li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= event_status_badge @event %>&nbsp;<%= event_type_badge @event %>&nbsp;<%= @event.name %>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @event.started_at.strf_mlevent %>〜<%= @event.ended_at.strf_mlevent %>, <%= @event.days %> days
    </li>
  </ul>
  <div class="panel-body">
    <div class="tabbable">
      <div class="tab-content">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#1" data-toggle="tab">ボーダー</a></li>
            <li><a href="#2" data-toggle="tab">最近の同一形式イベント</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <%- if @dataset.present? %>
                <div>
                  <div class='row'>
                    <div class='col-md-10'>
                      <div id="chartdiv"></div>
                    </div>
                    <div class='col-md-2'>
                      <div id="legenddiv"></div>
                    </div>
                  </div>
                </div>
                <%- if @event.hhp_event? %>
                  <%= am_charts_hhp @dataset %>
                <%- elsif @event.imc_event? %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 1200 } %>
                <%- else %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 100 } %>
                <%- end %>
              <%- else %>
                <p>ボーダー情報がありません。</p>
              <%- end %>
            </div>
            <div class="tab-pane" id="2">
              <%- if @recent_events.any? %>
                <table class='table'>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>イベント名</th>
                      <th>最終1200位</th>
                      <th>開催期間</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- @recent_events.each do |event| %>
                      <tr>
                        <td><%= event.id %></td>
                        <td>
                          <%- if @event.id == event.id %>
                            <%= event.name %><b>(このイベント)</b>
                          <%- else %>
                            <%= link_to event.name, event_path(event) %>
                          <%- end %>
                        </td>
                        <td>
                          <%- border_1200 = event.final_borders.select{|b| b.rank == 1200}.first.try(:point) %>
                          <%= border_1200 ? "#{number_to_currency(border_1200, unit: '', precision: 0)}pt" : '-' %>
                        </td>
                        <td><%= event.started_at.strf_mlevent %>〜<%= event.ended_at.strf_mlevent %>, <%= event.days %> days</td>
                      </tr>
                    <%- end %>
                  </tbody>
                </table>
              <%- else %>
                <p>同一形式のイベントが見つかりません。</p>
              <%- end %>
              <div style="overflow: hidden; text-align: center; margin-top: 3em;">
                <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=15&l=st1&mode=music-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="468" height="240" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="overflow: hidden; text-align: center; margin: 2em auto;">
  <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=48&l=st1&mode=videogames-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
</div>
