<h1>border bot観測拠点β</h1>
<h2><%= @event.name %></h2>
<p>開催期間: <%= @event.started_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %> 〜 <%= @event.ended_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></p>
<%- if @dataset.present? %>
  <%= am_charts @dataset %>
<%- else %>
  <p>ボーダー情報がありません。</p>
<%- end %>

<h2>注意事項</h2>
<ul>
  <li>本家 → <%= link_to '@mlborder', 'https://twitter.com/mlborder' %> / 不具合報告・要望他 → <%= link_to '@border_support', 'https://twitter.com/border_support' %></li>
  <li>妖精さんが頑張っている関係上、ボーダーの値が正確でない場合があります。特に最初と最後。</li>
  <li>作者は<strong>このみP</strong>です。周りにあまりいないので絡んでいただけると喜びます。</li>
</ul>
