<h1>border bot観測拠点β</h1>
<h2><%= @event.name %></h2>
<p>開催期間: <%= @event.started_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %> 〜 <%= @event.ended_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></p>
<%- if @dataset.present? %>
  <%= am_charts @dataset %>
<%- else %>
  <p>ボーダー情報がありません。</p>
<%- end %>

<div>
  <a class="twitter-timeline" href="https://twitter.com/mlborder" data-widget-id="595868231149219840">@mlborderさんのツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<h2>注意事項</h2>
<ul>
  <li>本家 → <%= link_to '@mlborder', 'https://twitter.com/mlborder' %> / 不具合報告・要望他 → <%= link_to '@border_support', 'https://twitter.com/border_support' %></li>
  <li>妖精さんが頑張っている関係上、ボーダーの値が正確でない場合があります。特に最初と最後。</li>
  <li>作者は<strong>このみP</strong>です。周りにあまりいないので絡んでいただけると喜びます。</li>
</ul>

<div style='margin-bottom: 100px;'></div>
<SCRIPT charset="utf-8" type="text/javascript" src="https://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ftreby-22%2F8010%2F11e79f0b-6c50-477f-ace4-bf6af5d2e892&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ftreby-22%2F8010%2F11e79f0b-6c50-477f-ace4-bf6af5d2e892&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
