<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active"><%= @event.name %></li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%- if @event.ended? %>
        <span class="label label-default">Finished</span>
      <%- elsif @event.in_session? %>
        <span class="label label-danger">Ongoing</span>
      <%- else %>
        <span class="label label-warning">Preparing</span>
      <%- end %>
      <%= @event.name %>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @event.started_at.strf_mlevent %>〜<%= @event.ended_at.strf_mlevent %>, <%= @event.days %> days
    </li>
  </ul>
  <div class="panel-body">
    <div class="tabbable">
      <div class="tab-content">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#1" data-toggle="tab">ボーダー</a></li>
            <li class="disabled"><a href="#2">過去の同一形式イベント</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <%- if @dataset.present? %>
                <div>
                  <div class='row'>
                    <div class='col-md-10'>
                      <div id="chartdiv"></div>
                    </div>
                    <div class='col-md-2'>
                      <div id="legenddiv"></div>
                    </div>
                  </div>
                </div>
                <%- if @event.hhp_event? %>
                  <%= am_charts_hhp @dataset %>
                <%- elsif @event.imc_event? %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 1200 } %>
                <%- else %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 100 } %>
                <%- end %>
              <%- else %>
                <p>ボーダー情報がありません。</p>
              <%- end %>
            </div>
            <div class="tab-pane" id="2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="overflow: hidden; text-align: center; margin-top: 3em;">
  <iframe class="embed-responsive-item" src="http://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=48&l=st1&mode=music-jp&search=IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
</div>
