<h2>
  <%- if @event.in_session? %>
    開催中：
  <%- elsif not @event.started? %>
    開始前：
  <%- end %>
  <%= @event.name %>
</h2>
<p>開催期間: <%= @event.started_at.strf_mlevent %>〜<%= @event.ended_at.strf_mlevent %> (<%= @event.days %>日間)</p>
<%- if @recent_event %>
  <p>
    前回:<%= link_to @recent_event.name, @recent_event %>
    (<%= @recent_event.started_at.strf_mlevent %>〜<%= @recent_event.ended_at.strf_mlevent %> (<%= @recent_event.days %>日間))
  </p>
<%- end %>

<div class='row'>
  <div class='col-lg-10 col-md-9'>
    <%- if @dataset.present? %>
      <div class='chart-wrapper'>
        <div id="chartdiv"></div>
        <%- if @event.hhp_event? %>
          <%= am_charts_hhp @dataset %>
        <%- elsif @event.imc_event? %>
          <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 1200 } %>
        <%- else %>
          <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 100 } %>
        <%- end %>
      </div>
    <%- else %>
      <p>ボーダー情報がありません。</p>
    <%- end %>
  </div>
  <div class='col-lg-2 col-md-3'>
    <div id="legenddiv"></div>
  </div>
</div>

<div style="overflow: hidden; text-align: center; margin-top: 3em;">
  <iframe class="embed-responsive-item" src="http://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=48&l=st1&mode=music-jp&search=IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
</div>
