<%- provide(:title, "『#{@event.name}』の詳細") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active"><%= @event.name %></li>
</ol>

<%= render partial: 'layouts/shared/alert_box', locals: { alert: flash[:alert] } if flash[:alert] %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= event_status_badge @event %>&nbsp;<%= event_type_badge @event %>&nbsp;<%= @event.name %>
      <%- if current_user.try(:role_admin?) %>
        <small style='color: #666;'>[<%= link_to 'Edit', edit_event_path(@event) %>]</small>
      <%- end %>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;<%= @event.format_period %>
      ：
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;<%= prizes_text_for(@event.prizes.to_a) %>
    </li>
  </ul>
  <div class="panel-body">
    <div class="tabbable">
      <div class="tab-content">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#1" data-toggle="tab">ボーダー</a></li>
            <%- if @event.records_available? %>
              <li><a href="#3" data-toggle="tab">最終ランキング</a></li>
            <%- end %>
            <li><a href="#2" data-toggle="tab">最近の<%= t("event_type.#{@event.event_type.sub('_event', '')}")%>イベント</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <%- if @event.has_border? %>
                <%- if @event.hhp_event? %>
                  <div class='row'>
                    <div class='col-md-9'>
                      <div id='chartdiv'></div>
                    </div>
                    <div class='col-md-3'>
                      <div class='row' style='margin-top: 1.5em;'>
                        <div class='col-md-12'>
                          <div id='legenddiv'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= am_charts_hhp @dataset %>
                <%- else %>
                  <%= react_component('MlborderEventBorderBox', url: event_borders_path(@event), border_summary: @latest_data) %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: (@event.imc_event? ? 1200 : 100) } %>
                <%- end %>
              <%- else %>
                <p>ボーダー情報がありません。</p>
              <%- end %>
            </div>
            <div class="tab-pane" id="2">
              <%- if @recent_events.any? %>
                <%= render partial: 'list', locals: { events: @recent_events, current_event: @event } %>
              <%- else %>
                <p>同一形式のイベントが見つかりません。</p>
              <%- end %>
              <div style="overflow: hidden; text-align: center; margin-top: 3em;">
                <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=15&l=st1&mode=music-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="468" height="240" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
              </div>
            </div>
            <%- if @event.records_available? %>
              <div class="tab-pane" id="3">
                <%- if @event.hhp_event? %>
                  <p style='margin-top: 1em;'>『<%= @event.name %>』の最終ランキング情報を確認できます。</p>
                  <%= link_to '確認する', event_records_path(@event), class: 'btn btn-primary btn-block' %>
                  <div style="overflow: hidden; text-align: center; margin-top: 3em;">
                    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=15&l=st1&mode=music-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="468" height="240" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
                  </div>
                <%- else %>
                  <%= react_component('MlborderEventRecordBox', url: event_records_path(@event), recordsUrl: records_path) %>
                <%- end %>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='well well-sm'>
  <%= render partial: 'layouts/shared/twitter_button' %>
</div>
<div style="overflow: hidden; text-align: center; margin: 2em auto;">
  <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=48&l=st1&mode=videogames-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
</div>
