<%- provide(:title, "『#{@event.name}』の詳細") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li class="active"><%= @event.name %></li>
</ol>

<%= render partial: 'layouts/shared/alert_box', locals: { alert: flash[:alert] } if flash[:alert] %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= event_status_badge @event %>&nbsp;<%= event_type_badge @event %>&nbsp;<%= @event.name %>
      <%- if current_user.try(:role_admin?) %>
        <small style='color: #666;'>[<%= link_to 'Edit', edit_event_path(@event) %>]</small>
      <%- end %>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;<%= @event.format_period %>
    </li>
  </ul>
  <div class="panel-body">
    <div class="tabbable">
      <div class="tab-content">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#1" data-toggle="tab">ボーダー</a></li>
            <%- if @event.records_available? %>
              <li><a href="#3" data-toggle="tab">最終ランキング</a></li>
            <%- end %>
            <li><a href="#2" data-toggle="tab">最近の<%= t("event_type.#{@event.event_type.sub('_event', '')}")%>イベント</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <%- if @event.has_border? %>
                <div>
                  <div class='row'>
                    <div class='col-md-9'>
                      <div id="chartdiv"></div>
                    </div>
                    <div class='col-md-3'>
                      <div class='row' style='margin-top: 1.5em;'>
                        <div class='col-md-12'>
                          <%- unless @event.hhp_event? %>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <span class='glyphicon glyphicon-info-sign'></span>
                                <%= @latest_data[:time].in_time_zone('Asia/Tokyo').strf_mlevent %>時点
                              </div>
                              <table class='table'>
                                <tbody>
                                  <%- @latest_data[:borders].sort.each do |rank, point| %>
                                    <tr>
                                      <th class='text-right'><%= rank %>位:</th>
                                      <td><%= number_with_delimiter point %>pt</td>
                                    </tr>
                                  <%- end %>
                                </tbody>
                              </table>
                            </div>
                          <%- end %>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-md-12'>
                          <div id="legenddiv" style='max-width: 240px;'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%- if @event.hhp_event? %>
                  <%= am_charts_hhp @dataset %>
                <%- elsif @event.imc_event? %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 1200 } %>
                <%- else %>
                  <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 100 } %>
                <%- end %>
              <%- else %>
                <p>ボーダー情報がありません。</p>
              <%- end %>
            </div>
            <div class="tab-pane" id="2">
              <%- if @recent_events.any? %>
                <%= render partial: 'list', locals: { events: @recent_events } %>
              <%- else %>
                <p>同一形式のイベントが見つかりません。</p>
              <%- end %>
              <div style="overflow: hidden; text-align: center; margin-top: 3em;">
                <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=15&l=st1&mode=music-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="468" height="240" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
              </div>
            </div>
            <%- if @event.records_available? %>
              <div class="tab-pane" id="3">
                <p style='margin-top: 1em;'>『<%= @event.name %>』の最終ランキング情報を確認できます。</p>
                <%- if @event.hhp_event? %>
                  <%= link_to '確認する', event_records_path(@event), class: 'btn btn-primary btn-block' %>
                <%- else %>
                  <div class="btn-group btn-group-justified" role="group">
                    <%= link_to "トップ", event_records_path(@event), class: 'btn btn-default' %>
                    <%= link_to "301位〜", event_records_path(@event, page: 7), class: 'btn btn-default' %>
                    <%= link_to "501位〜", event_records_path(@event, page: 11), class: 'btn btn-default' %>
                    <%= link_to "1201位〜", event_records_path(@event, page: 25), class: 'btn btn-primary' %>
                  </div>
                <%- end %>
                <div style="overflow: hidden; text-align: center; margin-top: 3em;">
                  <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=15&l=st1&mode=music-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="468" height="240" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
                </div>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="overflow: hidden; text-align: center; margin: 2em auto;">
  <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?t=treby-22&o=9&p=48&l=st1&mode=videogames-jp&search=THE IDOL M@STER&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
</div>
