<h2>
  <%- if @event.in_session? %>
    開催中：
  <%- elsif not @event.started? %>
    開始前：
  <%- end %>
  <%= @event.name %>
</h2>
<p>開催期間: <%= @event.started_at.strf_mlevent %>〜<%= @event.ended_at.strf_mlevent %> (<%= @event.days %>日間)</p>
<%- if @recent_event %>
  <p>
    前回:<%= link_to @recent_event.name, @recent_event %>
    (<%= @recent_event.started_at.strf_mlevent %>〜<%= @recent_event.ended_at.strf_mlevent %> (<%= @recent_event.days %>日間))
  </p>
<%- end %>

<div class='row'>
  <div class='col-lg-10 col-md-9'>
    <%- if @dataset.present? %>
      <div class='chart-wrapper'>
        <div id="chartdiv"></div>
        <%- if @event.hhp_event? %>
          <%= am_charts_hhp @dataset %>
        <%- elsif @event.imc_event? %>
          <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 1200 } %>
        <%- else %>
          <%= render partial: 'am_charts', locals: { chart_data: @dataset, display_until: 100 } %>
        <%- end %>
      </div>
    <%- else %>
      <p>ボーダー情報がありません。</p>
    <%- end %>
  </div>
  <div class='col-lg-2 col-md-3'>
    <div id="legenddiv"></div>
  </div>
</div>

<div style='margin-bottom: 100px;'></div>
<SCRIPT charset="utf-8" type="text/javascript" src="https://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ftreby-22%2F8010%2F11e79f0b-6c50-477f-ace4-bf6af5d2e892&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ftreby-22%2F8010%2F11e79f0b-6c50-477f-ace4-bf6af5d2e892&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
