<%- provide(:title, "キャスト投票キャンペーン") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">キャスト投票キャンペーン</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @latest_updated.strf_mlevent %>時点の得票状況
      &nbsp;<small>※()内は1時間前との比較</small>
    </h3>
  </div>
  <div class="panel-body">
    <div class="tabbable">
      <div class="tab-content">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <%- @themes.each do |theme| %>
              <li class="<%= 'active' if theme.id == 1 %>"><a href="#<%= theme.id %>" data-toggle="tab"><%= theme.title %></a></li>
            <%- end %>
          </ul>
          <div class="tab-content">
            <%- @themes.each do |theme| %>
              <div class="tab-pane <%= 'active' if theme.id == 1 %>" id="<%= theme.id %>" style='padding-top: 30px;'>
                <%- theme.idol_roles.each_with_index do |idol_role, i| %>
                  <%- vote_hash = @latest_vote[theme.id][i + 1] %>
                  <%- previous_vote_hash = @previous_vote[theme.id][i + 1] %>
                  <%- sorted_array = vote_hash.sort_by { |idol_id, vote_cnt| vote_cnt }.reverse %>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class='panel-title' style='font-size: .9em;'>
                          <%= idol_role %>
                        </h3>
                      </div>
                      <div class="list-group">
                        <%- sorted_array[0..4].each_with_index do |val, j|%>
                          <div class="list-group-item">
                            <%- idol = Idol.find(val.first.to_i) %>
                            <%- if j == 0 %>
                              <span style="color: <%= idol.color %>">
                                <span class="fa fa-star" aria-hidden="true"></span>
                              </span>
                            <%- end %>
                            <%- previous_vote_count = previous_vote_hash[val.first.to_i] %>
                            <%- latest_vote_count = val.last %>

                            <%= idol.name %>:
                            <%= number_with_delimiter val.last %>票
                            <%- if previous_vote_count.try(:<, latest_vote_count) %>
                              (+<%= val.last - previous_vote_hash[val.first.to_i] %>票)
                            <%- end %>
                          </div>
                        <%- end %>
                      </div>
                    </div>
                  </div>
                <%- end %>
                <div class='col-lg-12 col-md-12 col-sm-12'>
                  <%= link_to dramacd_theme_path(theme), class: 'btn btn-primary btn-block' do %>
                    <span class='fa fa-line-chart'></span> 『<%= theme.title %>』のグラフを確認する
                  <%- end %>
                </div>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
