<%- event_title = @idol ? "#{@event.name}(#{@idol.name.gsub(' ', '')})" : @event.name %>
<%- provide(:title, "『#{event_title}』の最終ランキング") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to event_title, event_path(@event) %></li>
  <li class="active">最終ランキング</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= event_type_badge @event %>&nbsp;<%= @event.name %>の最終ランキング
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;<%= @event.format_period %>
    </li>
  </ul>
  <div class="panel-body">
    <%= render partial: 'users', locals: { records: @records } %>
    <%= render partial: 'pager', locals: { event: @event, idol: @idol, page: @page_num, has_next: @records.any? } %>
  </div>
</div>
