<%- provide(:title, "@#{@user.screen_name}さんのアラーム") %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">@<%= @user.screen_name %>さんのアラーム</li>
</ol>
<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Caution:</span>
  ボーダーアラーム管理機能はβ版です。正常動作は保証しません。
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          アラームを新規追加する
        </h3>
      </div>
      <div class="panel-body">
        <%- if @event.in_session? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              以下の場合にお知らせする
            </div>
            <div class="panel-body">
              <%= form_for @alarm, url: user_alarms_path(@user) do |f| %>
                <%= f.hidden_field :event_id, value: @event.id %>
                <div class="form-group">
                  <div class='row'>
                    <div class='col-md-8'>
                      <div class="input-group">
                        <%= f.select :rank, @latest_data[:borders].keys.sort, {selected: 1200}, class: 'text-right form-control' %>
                        <span class="input-group-addon">位</span>
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='text-right' style='font-size: .9em; margin-top: 1em;'>
                        のボーダーが
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-8'>
                      <div class="input-group">
                        <%= f.number_field :value, value: @latest_data[:borders][1200], class: 'text-right form-control' %>
                        <span class="input-group-addon">pt</span>
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='text-right' style='font-size: .9em; margin-top: 1em;'>
                        を超えた時
                      </div>
                    </div>
                  </div>
                </div>

                <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
              <%- end %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to @event.name, event_path(@event) %>
            </div>
            <table class='table'>
              <tbody>
                <%- @latest_data[:borders].sort.each do |rank, point| %>
                  <tr>
                    <th class='text-right'><%= rank %>位:</th>
                    <td><%= number_with_delimiter point %>pt</td>
                  </tr>
                <%- end %>
              </tbody>
            </table>
            <div class="panel-footer text-right">
              <span class='glyphicon glyphicon-time'></span>
              <%= @latest_data[:time].in_time_zone('Asia/Tokyo').strf_mlevent %>時点
            </div>
          </div>
        <%- else %>
          <p>現在アラームを設定可能なイベントはありません。</p>
        <%- end %>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class='panel-title'>
          アラーム一覧
        </h3>
      </div>
      <div class="panel-body">
        <table class='table'>
          <thead>
            <tr>
              <th>#</th>
              <th>content</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            <%- if @alarms.any? %>
              <%- @alarms.each do |alarm| %>
                <tr>
                  <td><%= alarm.id %></td>
                  <td><b><%= alarm.rank %></b>位のボーダーが<b><%= number_with_delimiter alarm.value.floor %></b>ptを超えたらお知らせ</td>
                  <td><%= alarm.status_valid? ? '有効' : '無効' %></td>
                </tr>
              <%- end %>
            <%- else %>
              <tr><td class='text-center' colspan='3'>設定がありません</td></tr>
            <%- end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
